@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --bg-color: #252836FF;
  --bg-color-sidebar: #1F1D2BFF;
  --bg-color-right: #1F1D2BFF;
  --bg--color-card: #1F1D2BFF;
  --bg-color-buttons: #DC3545FF;
  --primary-color: #EA7C69;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Barlow", sans-serif;
  background-color: #252836;
  color: #fff;
}

::-webkit-scrollbar {
  width: 12px;
  height: 40px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(120deg, rgb(239, 155, 140) 0%, rgb(101, 58, 48) 100%);
  background-blend-mode: multiply, multiply;
  border-radius: 8px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: #fff;
}

.hide {
  display: none;
}

/* Style-SCSS */
.parent-div {
  width: 100%;
  height: 100vh;
  padding: 0 0 100px 0;
}
.parent-div .sidebar {
  display: flex;
  justify-content: center;
  text-align: center;
  background: var(--bg-color-sidebar);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.parent-div .sidebar .activeSidebar {
  position: relative;
  left: 5px;
  width: 90px;
  height: 70px;
  border-radius: 20px;
  background: var(--bg-color);
}
.parent-div .sidebar .sidebar-icons .logo-icon {
  margin: 25px 0 30px 0;
}
.parent-div .sidebar .sidebar-icons .home-icon img {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0 !important;
  margin-bottom: 25px;
}
.parent-div .sidebar .sidebar-icons div {
  margin-bottom: 75px;
}
.parent-div .sidebar .sidebar-icons .logo-icon {
  text-align: center;
}
.parent-div .sidebar .sidebar-icons .iconLogout {
  margin-bottom: 0px;
}
.parent-div .center-content {
  background: #252836;
}
.parent-div .center-content #site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.parent-div .center-content #site-header .logo-content h1 {
  font-family: Barlow;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
}
.parent-div .center-content #site-header .logo-content span {
  display: inline-block;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 25px;
}
.parent-div .center-content #site-header .search {
  width: 320px;
  height: 45px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 0.5px solid #ccc;
  padding: 0 8px 0 4px;
}
.parent-div .center-content #site-header .search input {
  width: 300px;
  height: 40px;
  background: var(--bg-color);
  font-size: 14px;
  font-weight: 500;
  color: #ccc;
  border: none;
  outline: none;
}
.parent-div .center-content #site-header .search input::-moz-placeholder {
  text-align: center;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: rgb(171, 187, 194);
}
.parent-div .center-content #site-header .search input::placeholder {
  text-align: center;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: rgb(171, 187, 194);
}
.parent-div .center-content #site-header .search .buttonSearch {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  outline: none;
  background: var(--bg-color-buttons);
  color: #f1f1f1;
}
.parent-div .center-content #site-header .search .bx-search {
  vertical-align: middle;
  margin-left: 9px;
}
.parent-div .center-content .pace-line .list-ul {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.parent-div .center-content .pace-line .list-ul li {
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  color: rgb(255, 255, 255);
  transition: 0.1s;
}
.parent-div .center-content .pace-line .list-ul li.active {
  border-bottom: 2px solid var(--bg-color-buttons);
  color: var(--primary-color);
}
.parent-div .center-content .pace-line .list-ul li:hover {
  color: tomato;
}
.parent-div .center-content .price-meal {
  margin-bottom: 24px;
}
.parent-div .center-content .price-meal .price-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.parent-div .center-content .price-meal .price-content .heading-title {
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.parent-div .center-content .price-meal .price-content #meal-arrays {
  width: 130px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #393C49;
  background: #1F1D2B;
  color: #fff;
  outline: none;
}
.parent-div .center-content #cardMeal {
  padding: 0 10px;
  text-align: center;
}
.parent-div .center-content #cardMeal #meals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 30px;
}
.parent-div .center-content #cardMeal #meals #cardMealBox {
  width: 200px;
  height: 280px;
  border-radius: 10px;
  background: var(--bg--color-card);
}
.parent-div .sidebar-right {
  padding: 0 10px;
  background: #1f1d2b;
}
.parent-div .sidebar-right h2 {
  font-family: Barlow;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
}
.parent-div .sidebar-right .buttons {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  margin-bottom: 35px;
}
.parent-div .sidebar-right .item-price {
  margin-bottom: 22px;
}
.parent-div .sidebar-right .list-ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  -moz-column-gap: 22px;
       column-gap: 22px;
}
.parent-div .sidebar-right .list-ul li {
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.parent-div .order-content {
  padding: 0;
  margin: 0;
}
.parent-div .order-content .order-img__total {
  display: flex;
  align-items: center;
}
.parent-div .order-content .order-img__total img {
  width: 50px;
  height: 50px;
}
.parent-div .order-content .order-img__total .order-total__content {
  margin: 18px 10px 0;
}
.parent-div .order-content .order-img__total .order-total__content span {
  margin-right: 8px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}
.parent-div .order-content .order-img__total .order-total__content p {
  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  color: #abbbc2;
}
.parent-div .order-content .order-img__total .order-heading {
  width: 40px;
  height: 42px;
  margin-right: 12px;
  text-align: center;
  line-height: 40px;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  border-radius: 8px;
  background: #2D303E;
}
.parent-div .order-content .order-img__total .order-price {
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.parent-div .order-content .comment-and__remove {
  display: flex;
  padding: 8px 4px 0 0;
  align-items: center;
  justify-content: space-between;
}
.parent-div .order-content .comment-and__remove input {
  width: 235px;
  height: 45px;
  font-size: 15px;
  font-weight: 400;
  color: #ccc;
  border-radius: 10px;
  border: none;
  background: #2D303E;
  outline: none;
}
.parent-div .order-content .comment-and__remove input::-moz-placeholder {
  outline: none;
  vertical-align: middle;
  text-align: center;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.parent-div .order-content .comment-and__remove input::placeholder {
  outline: none;
  vertical-align: middle;
  text-align: center;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.parent-div .order-content .comment-and__remove .border-image {
  width: 40px;
  height: 45px;
  padding: 3px 0 0 0;
  text-align: center;
  line-height: 40px;
  border-radius: 8px;
  border: 0.1px solid #ff7ca3;
}
.parent-div .order-content .comment-and__remove .border-image #delete-icon {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  color: #ff7ca3;
  cursor: pointer;
}
.parent-div .order-content .payment-content {
  display: none;
  position: fixed;
  right: 16px;
  bottom: 4px;
  padding: 5px 10px;
  background: rgb(31, 29, 43);
  border-top: 0.2px solid #abbbc2;
  transition: 0.5s;
}
.parent-div .order-content .payment-content .line_one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.parent-div .order-content .payment-content .line_one h4 {
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: rgb(171, 187, 194);
}
.parent-div .order-content .payment-content .line_one span {
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  color: #fff;
}
.parent-div .order-content .payment-content .line_two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.parent-div .order-content .payment-content .line_two h3 {
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: rgb(171, 187, 194);
}
.parent-div .order-content .payment-content .line_two span {
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  color: #fff;
}
.parent-div .order-content .payment-content button {
  width: 275px;
  height: 40px;
  outline: none;
  background: var(--bg-color-buttons);
}/*# sourceMappingURL=style.css.map */