:root {
   --bg-color: #252836FF;
   --bg-color-sidebar: #1F1D2BFF;
   --bg-color-right: #1F1D2BFF;
   --bg--color-card: #1F1D2BFF; 
   --bg-color-buttons: #EA7C69FF; 
   --primary-color: #EA7C69;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap');



* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   overflow-x: hidden;
}

body {
   font-family: 'Barlow', sans-serif;
   background-color: #252836FF;
   color: #fff;
}

::-webkit-scrollbar {
   width: 12px;
   height: 40px;
}
::-webkit-scrollbar-track {
   background: var(--bg-color);
}
::-webkit-scrollbar-thumb {
   background-image: linear-gradient(120deg, rgb(239, 155, 140) 0%, rgb(101, 58, 48) 100%);
   background-blend-mode: multiply,multiply;
   border-radius: 8px;
}

ul {
   li {
      list-style: none;
   }
}
a {
   text-decoration: none;
}
p {
   font-family: 'Barlow', sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   color: #fff;
}
.active {
   border-bottom: 2px solid var(--primary-color) !important;
   color: var(--primary-color) !important;
   //margin-bottom: 20px;
}

/* Style-SCSS */
.parent-div {
   width: 100%;
   height: 100vh;
}
.center-content {
   height: 100vh;
   padding: 15px 35px;
   background: #252836FF;
   #site-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      .logo-content {
         h1 {
            font-family: Barlow;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
         }
         span {
            display: inline-block;
            font-family: Barlow;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            margin-bottom: 24px;
         }
      }
      .search {
            width: 300px;
            height: 45px;
            border-radius: 10px;
            border: 0.5px solid #ccc;
         input {
            width: 270px;
            height: 40px;
            background: var(--bg-color);
            color: #fff;
            border: none;
            outline: none;
            &::placeholder {
               font-family: Barlow;
               font-size: 14px;
               font-style: normal;
               font-weight: 400;
               color: rgba(171, 187, 194, 1);
            }
         }
         .bx-search {
            vertical-align: middle;
            margin-left: 9px;
         }
      }
   }
   .pace-line {
      .list-ul {
         display: flex;
         column-gap: 32px;
         padding: 0;
         margin: 0;
         cursor: pointer;
         li {
            font-family: Barlow;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            color: rgba(255, 255, 255, 1);
            transition: .5s;
            &:hover {
               color: tomato;
            }
         }
      }
   }
   .price-meal {
      margin-bottom: 24px;
      .price-content {
         display: flex;
         justify-content: space-between;
         align-items: center;
         .heading-title {
            font-family: Barlow;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
         }
         #meal-arrays {
            width: 130px;
            height: 50px;
            border-radius: 8px;
            border: 1px solid #393C49;
            background: #1F1D2B;
            color: #fff;
            outline: none;
         }
      }
   }
   #meals {
      width: 410px;
      height: 660px;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-column-gap: 1.5em;
      //justify-content: center;
      padding: 2em 0;
      .cardMeal {
         background: var(--bg--color-card);
         max-width: 18em;
         margin-top: 1em;
         padding: 1em;
         border-radius: 5px;
         box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
      }
      .image-container {
         text-align: center;
      }
      img {
         max-width: 100%;
         object-fit: contain;
      }
      .container {
         padding-top: 1em;
         color: var(--bg-color);
         .cardSpan {
              font-size: 14px;
              font-weight: 500;
              color: #fff;
           }
         .hide {
            display: none;
         }
      }
   }
   .card-content {
      margin: 0 auto;
      padding: 15px;
      .card-meal {
         width: 200px;
         height: 270px;
         position: relative;
         border-radius: 15px;
         background: var(--bg--color-card);
         text-align: center;
         .parent-card__img {
            width: 100%;
            margin-bottom: 16px;
         }

         .card-des {
            margin-bottom: 12px;
         }
         span {
            //margin-bottom: 10px !important;
         }
         .card-data {
            margin-top: 4px;
         }
      }
   }
}



.sidebar {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin: 0 auto;
   background: var(--bg-color-sidebar);
   border-top-right-radius: 12px;
   border-bottom-right-radius: 12px;

   .sidebar-icons {
      .logo-icon {
         margin: 40px 0;
      }
      .home-icon {
         margin-bottom: 45px;
      }
     div {
      margin-bottom: 65px;
     }
     .logo-icon {
      text-align: center;
     }
     .iconLogout {
      margin-bottom: 32px;
     }
   }
}
.sidebar-right {
   padding: 0 25px;
   background: #1F1D2BFF;
   h2 {
      font-family: Barlow;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
   }
   .buttons {
      display: flex;
      column-gap: 16px;
      margin-bottom: 35px;
   }
   .item-price {
      margin-bottom: 22px;
   }
   .list-ul {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0;
      padding: 0;
      column-gap: 43px;
      li {
         font-family: Barlow;
         font-size: 16px;
         font-style: normal;
         font-weight: 600;
      }
   }
}
