:root {
   --bg-color: #252836FF;
   --bg-color-sidebar: #1F1D2BFF;
   --bg-color-right: #1F1D2BFF;
   --bg--color-card: #1F1D2BFF;
   --bg-color-buttons: #DC3545FF;
   --primary-color: #EA7C69;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap');



* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   overflow-x: hidden;
}

body {
   font-family: 'Barlow', sans-serif;
   background-color: #252836FF;
   color: #fff;
}

::-webkit-scrollbar {
   width: 12px;
   height: 40px;
}

::-webkit-scrollbar-track {
   background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
   background-image: linear-gradient(120deg, rgb(239, 155, 140) 0%, rgb(101, 58, 48) 100%);
   background-blend-mode: multiply, multiply;
   border-radius: 8px;
}

ul {
   li {
      list-style: none;
   }
}

a {
   text-decoration: none;
}

p {
   font-family: 'Barlow', sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   color: #fff;
}


.hide {
   display: none;
}

/* Style-SCSS */
.parent-div {
   width: 100%;
   height: 100vh;
   padding: 0 0 100px 0;

   .sidebar {
      display: flex;
      justify-content: center;
      text-align: center;
      background: var(--bg-color-sidebar);
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;

      .activeSidebar {
         position: relative;
         left: 5px;
         width: 90px;
         height: 70px;
         border-radius: 20px;
         background: var(--bg-color);
      }

      .sidebar-icons {
         .logo-icon {
            margin: 25px 0 30px 0;
         }

         .home-icon {
            img {
               width: 80px;
               height: 80px;
               position: absolute;
               left: 0 !important;
               margin-bottom: 25px;
            }
         }

         div {
            margin-bottom: 75px;
         }

         .logo-icon {
            text-align: center;
         }

         .iconLogout {
            margin-bottom: 0px;
         }
      }
   }

   .center-content {
      background: #252836FF;

      #site-header {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-top: 20px;

         .logo-content {
            h1 {
               font-family: Barlow;
               font-size: 28px;
               font-style: normal;
               font-weight: 600;
            }

            span {
               display: inline-block;
               font-family: Barlow;
               font-size: 16px;
               font-style: normal;
               font-weight: 400;
               margin-bottom: 25px;
            }
         }

         .search {
            width: 320px;
            height: 45px;
            display: flex;
            align-items: center;
            border-radius: 10px;
            border: 0.5px solid #ccc;
            padding: 0 8px 0 4px;

            input {
               width: 300px;
               height: 40px;
               background: var(--bg-color);
               font-size: 14px;
               font-weight: 500;
               color: #ccc;
               border: none;
               outline: none;

               &::placeholder {
                  text-align: center;
                  font-family: Barlow;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  color: rgba(171, 187, 194, 1);
               }
            }

            .buttonSearch {
               display: inline-block;
               text-align: center;
               font-size: 12px;
               font-weight: 500;
               padding: 6px 12px;
               border: none;
               border-radius: 8px;
               outline: none;
               background: var(--bg-color-buttons);
               color: #f1f1f1;
            }

            .bx-search {
               vertical-align: middle;
               margin-left: 9px;
            }
         }
      }

      .pace-line {
         .list-ul {
            display: flex;
            column-gap: 32px;
            padding: 0;
            margin: 0;
            cursor: pointer;

            li {
               font-family: Barlow;
               font-size: 14px;
               font-style: normal;
               font-weight: 600;
               color: rgba(255, 255, 255, 1);
               transition: 0.1s;

               &.active {
                  border-bottom: 2px solid var(--bg-color-buttons);
                  color: var(--primary-color);
               }

               &:hover {
                  color: tomato;
               }
            }
         }
      }

      .price-meal {
         margin-bottom: 24px;

         .price-content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .heading-title {
               font-family: Barlow;
               font-size: 20px;
               font-style: normal;
               font-weight: 600;
            }

            #meal-arrays {
               width: 130px;
               height: 50px;
               border-radius: 8px;
               border: 1px solid #393C49;
               background: #1F1D2B;
               color: #fff;
               outline: none;
            }
         }
      }

      #cardMeal {
         padding: 0 10px;
         text-align: center;

         #meals {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-row-gap: 30px;

            #cardMealBox {
               width: 200px;
               height: 280px;
               border-radius: 10px;
               background: var(--bg--color-card);
            }
         }
      }
   }

   .sidebar-right {
      padding: 0 10px;
      background: #1F1D2BFF;

      h2 {
         font-family: Barlow;
         font-size: 22px;
         font-style: normal;
         font-weight: 600;
      }

      .buttons {
         display: flex;
         column-gap: 16px;
         margin-bottom: 35px;
      }

      .item-price {
         margin-bottom: 22px;
      }

      .list-ul {
         display: flex;
         align-items: center;
         justify-content: flex-start;
         margin: 0;
         padding: 0;
         column-gap: 22px;

         li {
            font-family: Barlow;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
         }
      }
   }

   .order-content {
      padding: 0;
      margin: 0;

      .order-img__total {
         display: flex;
         align-items: center;

         //justify-content: space-around;
         img {
            width: 50px;
            height: 50px;
            //margin-right: 10px;
         }

         .order-totle__content {
            margin: 18px 10px 0;

            span {
               font-family: Barlow;
               font-style: normal;
               font-weight: 500;
               font-size: 14px;
               color: #fff;
            }

            p {
               font-family: Barlow;
               font-size: 12px;
               font-style: normal;
               font-weight: 500;
               color: #abbbc2;
            }
         }

         .order-heading {
            width: 40px;
            height: 42px;
            margin-right: 12px;
            text-align: center;
            line-height: 40px;
            font-family: Barlow;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            border-radius: 8px;
            background: #2D303E;
         }
      }

      .comment-and__remove {
         display: flex;
         padding: 8px 4px 0 0;
         align-items: center;
         justify-content: space-between;

         input {
            width: 235px;
            height: 45px;
            font-size: 15px;
            font-weight: 400;
            color: #ccc;
            border-radius: 10px;
            border: none;
            background: #2D303E;
            outline: none;

            &::placeholder {
               outline: none;
               vertical-align: middle;
               text-align: center;
               font-family: Barlow;
               font-size: 14px;
               font-style: normal;
               font-weight: 400;
            }
         }

         .border-image {
            width: 40px;
            height: 45px;
            text-align: center;
            line-height: 40px;
            border-radius: 8px;
            border: 0.1px solid #ff7ca3;
            img.order-image {
               display: inline-block;
               text-align: center;
               font-size: 14px;
               fill: #ff7ca3;
            }
         }
      }
   }
}